.card-breed {
  display: flex;
  width: 100%;
  max-width: 580px;
}
.card-breed .card-breed-img {
  width: 151px;
}
.card-sub-breed {
  display: flex;
  width: 100%;
  max-width: 580px;
}

@media screen and (min-width: 720px) {
  .card-breed {
    display: block;
    width: 100%;
  }
  .card-breed .card-breed-img {
    width: 100%;
    max-height: 240px;
  }
}
